<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Bootstrap CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="css/main.css" />
    <link rel="stylesheet" href="css/templat-css-styles.css" />
    <link rel="icon" href="css/3991.png">

    <title>Ground's</title>
  </head>
  <body>
    <!--Nav Bar-->
    <section class="index-nav-bar">
      <!--  <nav class="navbar navbar-expand-lg navbar-light bg-light">-->
      <nav class="navbar navbar-dark bg-dark">
        <div class="container-fluid">
          <a class="navbar-brand" href="#"><i class="fas fa-images"></i>    Ground's</a>
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="#"><i class="fas fa-home"></i> Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#"><i class="far fa-question-circle"></i> About</a>
              </li>
            </ul>
            <form class="d-flex">
              <input
                class="form-control me-2"
                type="search"
                placeholder="Search"
                aria-label="Search"
              />
              <button class="btn btn-outline-light" type="submit">
                <i class="fas fa-search"></i> 
              </button>
            </form>
          </div>
        </div>
      </nav>
    </section>
    <!--Scripts-->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
      crossorigin="anonymous"
    ></script>
    <script src="js/script.js"></script>
    <script
      src="https://kit.fontawesome.com/4b0c2715e4.js"
      crossorigin="anonymous"
    ></script>
    <!--Start Of Backgrounds osv-->
    <h1 class="index-h1"><i class="fas fa-images"></i> Background's</h1>
    <!--Card section-->
    <section class="index-cards">
      <div class="container py-3">
        <!-- Card Start -->
        <div class="card" style="width: 18rem;">
          <img src="img/Backgrounds/fadd.jpg" class="card-img-top" alt="Background Image">
          <div class="card-body">
            <a href="img/Backgrounds/fadd.jpg" title="Download Image" download="download" class="btn btn-outline-dark"><i class="fas fa-download"></i> Download Image</a>
            <a href="/image/dee8b581-c12c-4354-95fc-8d843ca1bf78" title="View Image"  class="btn btn-outline-primary"><i class="far fa-eye"></i> View Image</a>
            <button  title="Like Image" class="btn btn-outline-danger"><i class="fas fa-heart"></i></button>
          </div>
        </div>
    </section>
    <!--Footer-->
    <section class="footer">
    <div class="container-fluid pb-0 mb-0 justify-content-center text-light ">
      <footer>
          <div class="row my-5 justify-content-center py-5">
              <div class="col-11">
                  <div class="row ">
                      <div class="col-xl-8 col-md-4 col-sm-4 col-12 my-auto mx-auto a">
                          <h3 class="text-muted mb-md-0 mb-5 bold-text">Backgrounds <i class="fas fa-trademark"></i> </h3>
                      </div>
                      <div class="col-xl-2 col-md-4 col-sm-4 col-12">
                          <h6 class="mb-3 mb-lg-4 bold-text "><b>MENU</b></h6>
                          <ul class="list-unstyled">
                              <li class="index-li"><i class="fa fa-home"></i> Home</li>
                              <li class="index-li"><i class="far fa-question-circle"></i> About</li>
                              <li class="index-li"><i class="fab fa-github"></i> GitHub Repository</li>
                             
                          </ul>
                      </div>
                      <div class="col-xl-2 col-md-4 col-sm-4 col-12">
                          <h6 class="mb-3 mb-lg-4 text-muted bold-text mt-sm-0 mt-5"><b><i class="fas fa-map-marker-alt"></i> Location</b></h6>
                          <p class="mb-1"> Denmark</p>
                          
                      </div>
                  </div>
                  <div class="row ">
                      <div class="col-xl-8 col-md-4 col-sm-4 col-auto my-md-0 mt-5 order-sm-1 order-3 align-self-end">
                          <p class="social text-muted mb-0 pb-0 bold-text"> <span class="mx-2"></span> <span class="mx-2"></span> <span class="mx-2"></i></span> <span class="mx-2"></span> </p><small class="rights"> <i class="fas fa-copyright"></i> BacGrounds, Inc. |  All Rights Reserved.</small>
                      </div>
                      <div class="col-xl-2 col-md-4 col-sm-4 col-auto order-1 align-self-end ">
                          <h6 class="mt-55 mt-2 text-muted bold-text"><b>Contact</b></h6><small> <span><i class="fa fa-envelope" aria-hidden="true"></i></span class="index-span" mailto:vestergaardlasse2@gmail.com> vestergaardlasse2@gmail.com</small>
                      </div>
                      <div class="col-xl-2 col-md-4 col-sm-4 col-auto order-2 align-self-end mt-3 ">
                          <h6 class="text-muted bold-text"><b>Sponsor</b></h6><small class="index-small"><span><i class="fa fa-gamepad" aria-hidden="true"></i></span> GameGuide</small>
                      </div>
                  </div>
              </div>
          </div>
      </footer>
  </div>
  </section>
  </body>
</html>