/* Fonts */
@import url("https://fonts.googleapis.com/css?family=Raleway");

body {
  background-color: #eee;
}

.index-h1 {
  font-size: 3.5rem;
  margin-top: 3.5rem;
  text-align: center;
}

.card {
  margin-top: 5rem;
  margin-left: 2.7rem;
  text-align: center;
}

body {
  margin: 0;
  padding: 0;
}
